<section class="text-primary">
    <div class="contact container my-5 fs-4 d-flex">
        <i class="corner"></i>
        <h1>Contact</h1>
    </div>
    <div class="row">
        <div class="col">
            <h1 id="contactH1">Reach out<br>to us</h1>
            <p>General Queries</p>
            <p class="lh-sm">Phone: +27 76 579 0057<br>
            Email: by.hierarchy@gmail.com</p>
        </div>
        <div class="col">
            <input type="text" id="nameTxt" class="form-label" placeholder="Name">
            <input type="email" id="emailTxt" class="form-label" placeholder="Email">
            <label for="messageTxt" class="form-label">Type your message here...</label>
            <textarea class="form-control" id="messageTxt" rows="3"></textarea>
            <button type="submit">Submit</button>
        </div>
    </div>
</section>
