section{
    width: 70%;
    margin: 0 auto;
    color: darkblue;
    font-family: "Avenir Black", Helvetica, sans-serif;
}
.corner{
    border: solid darkblue;
    height: 20%;
    border-width: 3px 0 0 3px ;
    display: inline-block;
    padding: 3px;
}
.contact h1{
    color: orangered;
    word-spacing: 50px;
    font-weight: bolder;
}
#contactH1{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 2rem;
}
#nameTxt, #emailTxt, #messageTxt{
 border-top: 0px;
 border-left: 0px;
 border-right: 0px;
 border-bottom: darkblue solid 1px;
 border-radius: 0;
}
.contactForm button{
    border: none;
    background-color: white;
    color: darkblue;
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
}
