<section class="my-5">
    <div class="OurStory">
        <h1 class="my-3">Our Story</h1>
        <p>
            In the heart of a bustling city, we, a group of young designers, founded Hierarchy - a graphic design company owned by youth, driven by a mission that went beyond the ordinary. 
            <br><br>
            Integrity, humanity, collaboration, problem-solving, and creativity are the essence of Hierarchy.
            <br> <br>   
            So, as you embark on your entrepreneurial journey, we invite you to join us. Together, let's create magic through design and transform dreams into tangible realities.
            <br><br>
            Welcome to Hierarchy.
        </p>
    </div>
</section>
