html{
    scroll-behavior: smooth;
}
.container{
    /* height: 100vh; */
    width: 60%;
    /* overflow-y: scroll; */
}
.welcome{
    /* width: 1024px; */
    margin: 0 auto;
    padding-top: 0px;
    align-items: center;
}
.top{
    /* background-color: blueviolet; */
    display: flex;
    width: 100%;
}
.welcomeText{
    /* background-color: rgb(49, 226, 43); */
    width: 50%;
    color: #2B3D81;
    margin: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.welcomeText h1{
    font-size: 6.5rem;
    font-weight: 700;
}
.animation{
    /* background-color: rgb(43, 70, 226); */
    width: 50%;
}

/* ------------------------------------OUR WORK SECTION------------------------------------------------------ */

.stay{
    /* width: 1024px; */
    margin: 0 auto;
    padding-top: 50px;
}
.heading{
    padding: 20px 0px 20px;
}
.heading h2{
    color: #EE5035;
    font-size: 33px;
    letter-spacing: 8px;
}
.work h3{
    font-size: 20px;
    font-weight: 600;
}
.work{
    padding: 30px;
    border-bottom: 2px solid #EE5035 ;
    color: #2B3D81;
    transition: 0.4s ease-in-out;
    align-items: center;
}
.work:hover{
    transform: scale(1.1);
    color: #EE5035;
}
.images{
    margin: 0 auto;
    
}
.work .images:hover{
    opacity: 1;
    transition: 0.4s ease-in-out;
}

.work .images{
    opacity: 0;
    transition: 0.4s ease-out;
}
.hov1{
    /* z-index: -1; */
    width: 100px;
}
.hov2{
    /* z-index: 1; */
    width: 150px;
}
.hov3{
    /* z-index: -1; */
    width: 100px;
}


/* ------------------------------------OUR CLIENTS------------------------------------------------------ */

.bye{
    /* width: 1024px; */
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 100px;
}
.bye-heading{
    padding: 20px 0px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}
.bye-heading h2{
    color: #EE5035;
    font-size: 45px;
    letter-spacing: 8px;
}
.bottom{
    display: flex;
    justify-content: center;
}
 /* .bottom img {
    
}  */
.client{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px;
}
