<app-header></app-header>
<!----------------------------------------------Home Page------------------------------------------------------>
<div class="container">
<div class="welcome">
    <div class="top">
        <div class="welcomeText">
            <h1 class="lh-1">All<br>your<br>Graphic<br>Design<br>needs</h1>

        </div>
        <div class="animation">
            <video width="100%"  autoplay loop> 
                <source src="assets/video/hierarchy homescreen animation .mp4" type="video.mp4">
            </video>
        </div>
    </div>
</div>
<!--------------------------------------OUR WORK SECTION-------------------------------------------------------->
<div class="stay">
    <div class="middle">
        <div class="heading d-flex">
            <fa-icon [icon]="faArrowDown" style="color: #001ba3;transform:rotateX('45');" class="fs-1"></fa-icon><h2>Some of our work</h2>
        </div>
        <div class="work d-flex position-relative">
            <div>
                <h3>LOGOS</h3>
            </div>
            <div class="images position-absolute end-0 d-flex">
                <img src="assets/image/ourWork/BLACK LOGO.png" alt="logo1" style="width: 10%;"> 
                <img src="assets/image/ourWork/Mockup.png" alt="logo2" style="width: 10%;">
                <img src="assets/image/ourWork/69SUPREME art.jpg" alt="logo3" style="width: 10%;">
            </div>
        </div>
        <div class="work">
            <h3>POSTERS</h3>
        </div>
        <div class="work">
            <h3>COVERS</h3>
        </div>
        <div class="work">
            <h3>BRANDING KITS</h3>
        </div>
        <div class="work">
            <h3>MORE</h3>
        </div>
    </div>

</div>
<!--------------------------------------OUR CLIENTS SECTION-------------------------------------------------------->
<div class="bye">
    <div class="bye-heading">
        <h2>Our Clients</h2>
    </div>
    <div class="bottom">
        <div class="client">
            <img src="assets/image/clients/Seen Elsewhere Logo.png">
        </div>
        <div class="client">
            <img src="assets/image/clients/Kopanong Logo.png">
        </div>
        <div class="client">
            <img src="assets/image/clients/Visuals by Virtue Logo.png">
        </div>
        <div class="client">
            <img src="assets/image/clients/Broadway Logo.png">
        </div>
    </div>
</div>
</div>








<!----------------------------------------------Home Page------------------------------------------------------>
<app-contact></app-contact>
<app-footer></app-footer>