<app-header></app-header>
<!----------------------------------------------Home Page------------------------------------------------------>
<div class="container">
<div class="welcome">
    <div class="top">
        <div class="welcomeText">
            <h1 class="lh-1">All your<br>Graphic<br>Design<br>needs</h1>

        </div>
        <div class="animation">
            <img src="assets/image/Hero Section Animation_Mobile.png" alt="" style="width: 400px;">
            <!-- <video width="100%"  autoplay loop> 
                <source src="assets/video/hierarchy homescreen animation .mp4" type="video.mp4">
            </video> -->
        </div>
    </div>
</div>
<!--------------------------------------OUR WORK SECTION-------------------------------------------------------->
<div class="stay">
    <div class="middle">
        <div class="heading d-flex">
            <fa-icon [icon]="faArrowDown" style="color: #2B3D81;transform:rotateX('45');" class="fs-1"></fa-icon><h2>Some of our work</h2>
        </div>
        <div class="work d-flex position-relative">
            <div>
                <h3>LOGOS</h3>
            </div>
            <div class="images d-flex justify-content-center">
                <img src="assets/image/ourWork/BLACK LOGO.png" alt="logo1" class="z-n1" style="width: 100px;"> 
                <img src="assets/image/ourWork/Mockup.png" alt="logo2" class="hov2 z-1">
                <img src="assets/image/ourWork/69SUPREME art.jpg" alt="logo3" class="hov3 z-n1">
            </div>
        </div>
        <div class="work d-flex position-relative">
            <div>
                <h3>POSTERS</h3>
            </div>
            <div class="images d-flex justify-content-center">
                <img src="assets/image/ourWork/Popcorn ad demo.png" alt="logo1" class="z-n1" style="width: 100px;"> 
                <img src="assets/image/ourWork/Mockup.png" alt="logo2" class="hov2 z-1">
                <img src="assets/image/ourWork/69SUPREME art.jpg" alt="logo3" class="hov3 z-n1">
            </div>
        </div>
        <div class="work d-flex position-relative">
            <div>
                <h3>COVERS</h3>
            </div>
            <div class="images d-flex justify-content-center">
                <img src="assets/image/ourWork/A4 temp.png" alt="logo1" class="z-n1" style="width: 100px;"> 
                <img src="assets/image/ourWork/Mockup.png" alt="logo2" class="hov2 z-1">
                <img src="assets/image/ourWork/69SUPREME art.jpg" alt="logo3" class="hov3 z-n1">
            </div>
        </div>
        <div class="work d-flex position-relative">
            <div>
                <h3>BRANDING KITS</h3>
            </div>
            <div class="images d-flex justify-content-center">
                <img src="assets/image/ourWork/BLACK LOGO.png" alt="logo1" class="z-n1" style="width: 100px;"> 
                <img src="assets/image/ourWork/Mockup.png" alt="logo2" class="hov2 z-1">
                <img src="assets/image/ourWork/69SUPREME art.jpg" alt="logo3" class="hov3 z-n1">
            </div>
        </div>
        <div class="work d-flex position-relative">
            <div>
                <h3>MORE</h3>
            </div>
            <div class="images d-flex justify-content-center">
                <img src="assets/image/ourWork/BLACK LOGO.png" alt="logo1" class="z-n1" style="width: 100px;"> 
                <img src="assets/image/ourWork/Mockup.png" alt="logo2" class="hov2 z-1">
                <img src="assets/image/ourWork/69SUPREME art.jpg" alt="logo3" class="hov3 z-n1">
            </div>
        </div>
    </div>

</div>
<!--------------------------------------OUR CLIENTS SECTION-------------------------------------------------------->
<div class="bye">
    <div class="bye-heading">
        <h2>Our Clients</h2>
    </div>
    <div class="bottom">
        <div class="client">
            <img src="assets/image/clients/Seen Elsewhere Logo.png" style="width:100px; height:100px">
        </div>
        <div class="client">
            <img class="two" src="assets/image/clients/Kopanong Logo.png" style="width:200px; height:150px">
        </div>
        <div class="client">
            <img class="three" src="assets/image/clients/Visuals by Virtue Logo.png" style="width:300px; height:300px">
        </div>
        <div class="client">
            <img class="four" src="assets/image/clients/Broadway Logo.png" style="width:150px; height:200px">
        </div>
    </div>
</div>
</div>








<!----------------------------------------------Home Page------------------------------------------------------>
<app-contact></app-contact>
<app-footer></app-footer>