<section>
    <div class="Collage row position-relative gx-2 gy-1 my-5 mx-auto">
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-secondary" id="2a"><img src="assets/image/artWorks/3boxes.png" alt="artwork2"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-warning" id="3a"><img src="assets/image/artWorks/GBVmagazineCover2.png" alt="gbv poster"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-success" id="4a"><img src="assets/image/artWorks/GBVmagazineCover1.png" alt="artwork4"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-primary" id="1a"><img src="assets/image/artWorks/GBVmagazineCover3.png" alt="artwork1"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-info" id="5a"><img src="assets/image/artWorks/69SUPREME.jpg" alt="artwork5"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-secondary" id="6a"><img src="assets/image/artWorks/KKDmenu.jpg" alt="artwork6"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-success" id="7a"><img src="assets/image/artWorks/Marmite.png" alt="artwork7"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-warning" id="8a"><img src="assets/image/artWorks/Mockup.png" alt="artwork7"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-info" id="9a"><img src="assets/image/artWorks/Popcorn.png" alt="artwork7"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-primary" id="10a"><img src="assets/image/artWorks/Stationary.jpg" alt="artwork7"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-secondary" id="11a"><img src="assets/image/artWorks/CPUTbrochure1.png" alt="artwork7"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-warning" id="12a"><img src="assets/image/artWorks/CPUTbrochure2.png" alt="artwork7"></div>
    </div>

</section>
