<section>
    <div class="Collage grid row position-relative mx-auto">
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-primary" id="a1"><img src="assets/image/artWorks/GBVmagazineCover3.png" alt="artwork1"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-secondary" id="a2"><img src="assets/image/artWorks/3boxes.png" alt="artwork2"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-warning" id="a3"><img src="assets/image/artWorks/GBVmagazineCover2.png" alt="gbv poster"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-success" id="a4"><img src="assets/image/artWorks/GBVmagazineCover1.png" alt="artwork4"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-info" id="a5"><img src="assets/image/artWorks/69SUPREME.jpg" alt="artwork5"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-secondary" id="a6"><img src="assets/image/artWorks/KKDmenu.jpg" alt="artwork6"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-success" id="a7"><img src="assets/image/artWorks/Marmite.png" alt="artwork7"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-warning" id="a8"><img src="assets/image/artWorks/Mockup.png" alt="artwork7"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-info" id="a9"><img src="assets/image/artWorks/Popcorn.png" alt="artwork7"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-primary" id="a10"><img src="assets/image/artWorks/Stationary.jpg" alt="artwork7"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-secondary" id="a11"><img src="assets/image/artWorks/CPUTbrochure1.png" alt="artwork7"></div>
        <div class="col-sm-6 p-0 col-md-6 col-lg-4 bg-warning" id="a12"><img src="assets/image/artWorks/CPUTbrochure2.png" alt="artwork7"></div>
    </div>
</section>
