<section class="my-5">
    <h1 class="my-3" style="color: orangered;font-size: 56px;">Our Team</h1>
    <div class="OurTeam row gap-1">
        <div class="col p-0"><img src="assets/image/Team/temp1.png" alt="team member"></div>
        <div class="col p-0"><img src="assets/image/Team/temp2.png" alt="team member"></div>
        <div class="col p-0"><img src="assets/image/Team/temp1.png" alt="team member"></div>
        <div class="col p-0"><img src="assets/image/Team/temp2.png" alt="team member"></div>
        <div class="col p-0"><img src="assets/image/Team/temp1.png" alt="team member"></div>
    </div>
</section>
